.gallery-container {
  position: absolute;
  width: 1240px;
  left: 100px;
  top: 437px;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 2.5rem;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 4.5rem 0;
  border-radius: 10px;
}

.accomodations-list {
  display: flex;
  flex-direction: row;
  grid-gap: 5px;
}
.acc-card {
  width: 340px;
  height: 340px;
  position: relative;
}
.acc-cover {
  object-fit: cover;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  width: 340px;
  height: 340px;
}

.acc-title {
  position: absolute;
  left: 5.88%;
  right: 5.88%;
  top: 78.82%;
  bottom: 5.88%;
  z-index: 2;
  color: whitesmoke;
  font-size: 18px;
  display: flex;
  align-items: flex-end;
}
