.gallery-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  @include small-radius;
  margin: 22px 0;
  flex-wrap: wrap;

  @media screen and (min-width: $breakpoint-desktop) {
    gap: 50px;
    padding: 5% 1%;
    background-color: #f7f7f7;
    @include big-radius;
    margin: 43px 0;
  }
}
